<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- mobile responsive  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Crypto</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </head>
  <body>
     <center>
     <img src="../static/images/crypto_banner.png" class="img-fluid" width="30%" height="30%">
     <p><b><u>BTC</u>:</b> {{ btc_dec }}  <b>Mean Price:</b> ${{ btc_mean }}  <b>Today's Price:</b> ${{ btc_today }}</p> 
     <p><b><u>ETH</u>:</b> {{ eth_dec }}  <b>Mean Price:</b> ${{ eth_mean }}  <b>Today's Price:</b> ${{ eth_today }}</p>
     <p><b><u>XRP</u>:</b> {{ xrp_dec }}  <b>Mean Price:</b> ${{ xrp_mean }}  <b>Today's Price:</b> ${{ xrp_today }}</p>
     <p><b><u>XMR</u>:</b> {{ xmr_dec }}  <b>Mean Price:</b> ${{ xmr_mean }}  <b>Today's Price:</b> ${{ xmr_today }}</p>
     </center>
     <img src={{ url }} class="img-fluid">
     
  </body>
</html>

