<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- mobile responsive  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Crypto</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>  

    <style>
    .card{
      border: 0 !important ;
    }

    .row{
      margin-right :auto !important ;
      margin-left :auto !important ;
    }

    </style>


</head>
  <body>

     <nav class="navbar navbar-expand-lg navbar-light bg-light">
       <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarNav">
           <ul class="navbar-nav nav-tabs">
             <li class="nav-item">
               <a class="nav-link"  href={{ url_for('home') }}>Home</a>
             </li>
             <li class="nav-item">
               <a class="nav-link active" aria-current="page" href="#">Twitter Wall</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href={{ url_for('news') }}>News Wall</a>
             </li>
           </ul>
       </div>
     </nav>
     
     <br>
     <div class="row row-cols-1 row-cols-md-3 g-4 container">



<script>

// Note: some RSS feeds can't be loaded in the browser due to CORS security.
// To get around this, you can use a proxy.
const CORS_PROXY = "https://access-cors.herokuapp.com/"


var strcmp = ["Bitcoin","bitcoin", "bitcoin","Bitcoin's","BTC","btc", "Ethereum","Ether","ether", "ETH","eth", "Ripple","ripple","XRP","xrp","Cryptocurrency","cryptocurrency","Crypto","crypto"];


function func_chamath(){
$.get(CORS_PROXY + 'https://rsshub.app/twitter/user/chamath', function (data) {
    var html = ``;
    $(data).find("item").each(function () { // or "item" or whatever suits your feed

        
        var el = $(this);
 
        title = el.find("title").text().split(" ")

        if(strcmp.some(v => title.some(t => v==t))){ 
        
        
        if(strcmp.some(v => el.find("description").text().includes("RT"))){
        html += `

        <div class="col">
          <div class="card">
            <small class="text-muted">Retweeted by <a href="https://twitter.com/chamath" target="_blank">@chamath</a></small>
            <blockquote class="twitter-tweet">
              <a href="${el.find("link").text()}"></a>
            </blockquote>
          </div>
        </div>

        `;
        }
        else{
        html += `

        <div class="col">
          <div class="card">
            <blockquote class="twitter-tweet">
              <a href="${el.find("link").text()}"></a>
            </blockquote>
          </div>
        </div>

        `;
        }

      }
       
      console.log(el.find("description").text())

    });

document.getElementsByClassName("row")[0].insertAdjacentHTML("beforeend", html)
func_vitalikbuterin()
});

}


function func_vitalikbuterin(){
$.get(CORS_PROXY + 'https://rsshub.app/twitter/user/VitalikButerin', function (data) {
    var html = ``;
    $(data).find("item").each(function () { // or "item" or whatever suits your feed

     
        var el = $(this);
 

        title = el.find("title").text().split(" ")

        if(strcmp.some(v => title.some(t => v==t))){  
        
        if(strcmp.some(v => el.find("description").text().includes("RT"))){
        html += `

        <div class="col">
          <div class="card">
            <small class="text-muted">Retweeted by <a href="https://twitter.com/VitalikButerin" target="_blank">@VitalikButerin</a></small>
            <blockquote class="twitter-tweet">
              <a href="${el.find("link").text()}"></a>
            </blockquote>
          </div>
        </div>

        `;
        }
        else{
        html += `

        <div class="col">
          <div class="card">
            <blockquote class="twitter-tweet">
              <a href="${el.find("link").text()}"></a>
            </blockquote>
          </div>
        </div>

        `;
        }

      }
       
      console.log(el.find("description").text())

    });

document.getElementsByClassName("row")[0].insertAdjacentHTML("beforeend", html)
func_jack()
});

}



function func_jack(){
$.get(CORS_PROXY + 'https://rsshub.app/twitter/user/jack', function (data) {
    var html = ``;
    $(data).find("item").each(function () { // or "item" or whatever suits your feed

        var el = $(this);
 


        title = el.find("title").text().split(" ")

        if(strcmp.some(v => title.some(t => v==t))){ 
        
        if(strcmp.some(v => el.find("description").text().includes("RT"))){
        html += `

        <div class="col">
          <div class="card">
            <small class="text-muted">Retweeted by <a href="https://twitter.com/jack" target="_blank">@jack</a></small>
            <blockquote class="twitter-tweet">
              <a href="${el.find("link").text()}"></a>
            </blockquote>
          </div>
        </div>

        `;
        }
        else{
        html += `

        <div class="col">
          <div class="card">
            <blockquote class="twitter-tweet">
              <a href="${el.find("link").text()}"></a>
            </blockquote>
          </div>
        </div>

        `;
        }

      }
       
      console.log(el.find("description").text())

    });

document.getElementsByClassName("row")[0].insertAdjacentHTML("beforeend", html)
func_naval()
});

}


function func_naval(){
$.get(CORS_PROXY + 'https://rsshub.app/twitter/user/naval', function (data) {
    var html = ``;
    $(data).find("item").each(function () { // or "item" or whatever suits your feed
        

    
        var el = $(this);
 

        title = el.find("title").text().split(" ")

        if(strcmp.some(v => title.some(t => v==t))){ 
        
        if(strcmp.some(v => el.find("description").text().includes("RT"))){
        html += `

        <div class="col">
          <div class="card">
            <small class="text-muted">Retweeted by <a href="https://twitter.com/naval" target="_blank">@naval</a></small>
            <blockquote class="twitter-tweet">
              <a href="${el.find("link").text()}"></a>
            </blockquote>
          </div>
        </div>

        `;
        }
        else{
        html += `

        <div class="col">
          <div class="card">
            <blockquote class="twitter-tweet">
              <a href="${el.find("link").text()}"></a>
            </blockquote>
          </div>
        </div>

        `;
        }

      }
       
      console.log(el.find("description").text())

    });

document.getElementsByClassName("row")[0].insertAdjacentHTML("beforeend", html)
func_timdraper()
});

}


function func_timdraper(){
$.get(CORS_PROXY + 'https://rsshub.app/twitter/user/TimDraper', function (data) {
    var html = ``;
    $(data).find("item").each(function () { // or "item" or whatever suits your feed


        var el = $(this);
 


        title = el.find("title").text().split(" ")

        if(strcmp.some(v => title.some(t => v==t))){ 
        
        if(strcmp.some(v => el.find("description").text().includes("RT"))){
        html += `

        <div class="col">
          <div class="card">
            <small class="text-muted">Retweeted by <a href="https://twitter.com/TimDraper" target="_blank">@TimDraper</a></small>
            <blockquote class="twitter-tweet">
              <a href="${el.find("link").text()}"></a>
            </blockquote>
          </div>
        </div>

        `;
        }
        else{
        html += `

        <div class="col">
          <div class="card">
            <blockquote class="twitter-tweet">
              <a href="${el.find("link").text()}"></a>
            </blockquote>
          </div>
        </div>

        `;
        }

      }
       
      console.log(el.find("description").text())

    });

document.getElementsByClassName("row")[0].insertAdjacentHTML("beforeend", html)
func_elonmusk()
});

}


function func_elonmusk(){
$.get(CORS_PROXY + 'https://rsshub.app/twitter/user/elonmusk', function (data) {
    var html = ``;
    $(data).find("item").each(function () { // or "item" or whatever suits your feed

        
        var el = $(this);
 


        title = el.find("title").text().split(" ")

        if(strcmp.some(v => title.some(t => v==t))){ 
        
        if(strcmp.some(v => el.find("description").text().includes("RT"))){
        html += `

        <div class="col">
          <div class="card">
            <small class="text-muted">Retweeted by <a href="https://twitter.com/elonmusk" target="_blank">@elonmusk</a></small>
            <blockquote class="twitter-tweet">
              <a href="${el.find("link").text()}"></a>
            </blockquote>
          </div>
        </div>

        `;
        }
        else{
        html += `

        <div class="col">
          <div class="card">
            <blockquote class="twitter-tweet">
              <a href="${el.find("link").text()}"></a>
            </blockquote>
          </div>
        </div>

        `;
        }

      }
       
      console.log(el.find("description").text())

    });

document.getElementsByClassName("row")[0].insertAdjacentHTML("beforeend", html)
func_kunalb11()
});

}



function func_kunalb11(){
$.get(CORS_PROXY + 'https://rsshub.app/twitter/user/kunalb11', function (data) {
    var html = ``;
    $(data).find("item").each(function () { // or "item" or whatever suits your feed

      
        var el = $(this);
 


        title = el.find("title").text().split(" ")

        if(strcmp.some(v => title.some(t => v==t))){  
        
        if(strcmp.some(v => el.find("description").text().includes("RT"))){
        html += `

        <div class="col">
          <div class="card">
            <small class="text-muted">Retweeted by <a href="https://twitter.com/kunalb11" target="_blank">@kunalb11</a></small>
            <blockquote class="twitter-tweet">
              <a href="${el.find("link").text()}"></a>
            </blockquote>
          </div>
        </div>

        `;
        }
        else{
        html += `

        <div class="col">
          <div class="card">
            <blockquote class="twitter-tweet">
              <a href="${el.find("link").text()}"></a>
            </blockquote>
          </div>
        </div>

        `;
        }

      }
       
      console.log(el.find("description").text())

    });

document.getElementsByClassName("row")[0].insertAdjacentHTML("beforeend", html)
func_mkbhd()
});

}




function func_mkbhd(){
$.get(CORS_PROXY + 'https://rsshub.app/twitter/user/MKBHD', function (data) {
    var html = ``;
    $(data).find("item").each(function () { // or "item" or whatever suits your feed

    
        var el = $(this);
 


        title = el.find("title").text().split(" ")

        if(strcmp.some(v => title.some(t => v==t))){  
        
        if(strcmp.some(v => el.find("description").text().includes("RT"))){
        html += `

        <div class="col">
          <div class="card">
            <small class="text-muted">Retweeted by <a href="https://twitter.com/MKBHD" target="_blank">@MKBHD</a></small>
            <blockquote class="twitter-tweet">
              <a href="${el.find("link").text()}"></a>
            </blockquote>
          </div>
        </div>

        `;
        }
        else{
        html += `

        <div class="col">
          <div class="card">
            <blockquote class="twitter-tweet">
              <a href="${el.find("link").text()}"></a>
            </blockquote>
          </div>
        </div>

        `;
        }

      }
       
      console.log(el.find("description").text())

    });

document.getElementsByClassName("row")[0].insertAdjacentHTML("beforeend", html)
func_tyler()
});

}




function func_tyler(){
$.get(CORS_PROXY + 'https://rsshub.app/twitter/user/tyler', function (data) {
        var html = ``;
        $(data).find("item").each(function () { // or "item" or whatever suits your feed

       
        var el = $(this);
 


        title = el.find("title").text().split(" ")

        if(strcmp.some(v => title.some(t => v==t))){ 
        
        if(strcmp.some(v => el.find("description").text().includes("RT"))){
        html += `

        <div class="col">
          <div class="card">
            <small class="text-muted">Retweeted by <a href="https://twitter.com/tyler" target="_blank">@tyler</a></small>
            <blockquote class="twitter-tweet">
              <a href="${el.find("link").text()}"></a>
            </blockquote>
          </div>
        </div>

        `;
        }
        else{
        html += `

        <div class="col">
          <div class="card">
            <blockquote class="twitter-tweet">
              <a href="${el.find("link").text()}"></a>
            </blockquote>
          </div>
        </div>

        `;
        }

      }

      console.log(el.find("description").text())

    });

document.getElementsByClassName("row")[0].insertAdjacentHTML("beforeend", html)
});

}




func_chamath()

</script>

     

</html>
